*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Playfair Display;
}

.section1{
    background-image: url(./images/coffee_image.png);
    background-size: cover;
    height: 720px;
}

a{
    text-decoration: none;
    color: #fff;
}

nav ul{
    padding: 30px;
    margin-left: 50px;
}

nav ul li{
    list-style-type: none;
    display: inline;
    color: #fff;
}

#bean-text{
    font-family: Clicker Script;
    font-weight: 400;
    font-size: 35px;
}

#home{
    margin-left: 200px;
}

#nav-center{
    margin-left: 50px;
    font-size: 14px;
    font-weight: 500;
}

#nav-sign-in{
    margin-left: 290px;
    font-size: 14px;
    font-weight: 500;
    text-decoration: underline;
}

#nav-sign-up{
    margin-left: 30px;
    color: #1E1E1E;
    font-size: 14px;
    font-weight: 500;
    background-color: #F9C06A;
    border-radius: 30px;
    padding: 10px 30px;
}

#navp1{
    margin-left: 80px;
    margin-top: 120px;
    color: #fff;
    font-size: 22px;
}

#coffee-text{
    font-family: Clicker Script;
    font-size: 220px;
    color: #fff;
    font-weight: 400;
    margin-left: 75px;
}

#navp2{
    margin-left: 80px;
    font-weight: 400;
    font-size: 20px;
    color: #fff;
}

#order{
    text-decoration: none;
    color: #000000;
    background-color: #F9C06A;
    margin-left: 80px;
    padding: 10px 20px;
    border-radius: 26px;
}

.section2 h3{
    font-size: 50px;
    font-weight: 700;
    color: #603809;
    margin-left: 90px;
}

.section2{
    margin-top: 150px;
}

.section2 p{
    color: #707070;
    font-size: 20px;
    font-weight: 400;
    margin-top: 20px;
    margin-left: 90px;
    line-height: 30px;
}

#more{
    font-size: 16px;
    font-weight: 700;
    color: #1E1E1E;
    background-color: #F9C06A;
    border-radius: 20px;
    padding: 8px 15px;
}

.section2 img{
    margin-top: -350px;
    margin-left: 800px;
}

#coffee-blast1{
    margin-top: -200px;
}

.section3 h2{
    text-align: center;
    font-size: 50px;
    font-weight: 700;
    color: #603809;
}

.section3 p{
    text-align: center;
    color: #707070;
    font-size: 20px;
    font-weight: 400;
}

.all-card-image{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 50px;
}

.image-card{
    border: 1px solid #fce1b8;
    width: 281px;
    height: 400px;
    background-color: #fff9f1;
}

#cardp1{
    font-size: 22px;
    font-weight: 700;
    color: #603809;
    margin-top: 30px;
}

#cardp2{
    font-size: 16px;
    font-weight: 400;
    color: #1E1E1E;
    margin-top: 10px;
}

#cardp3{
    font-size: 18px;
    font-weight: 700;
    margin-top: 10px;
    color: #603809;
}

#cardp4{
    font-size: 16px;
    font-weight: 700;
    padding: 12px 25px;
    color: #1E1E1E;
    background-color: #F9C06A;
    border-radius: 24px;  
}

#cardp5{
    margin-top: 35px;
}

#right-coffee{
    margin-left: 970px;
    margin-top: -50px;
}

#right-coffee-text{
    color: #707070;
    font-size: 20px;
    line-height: 40px;
}

.all-icon-image{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.icon-image1{
    border: 1px solid #fce1b8;
    width: 260px;
    height: 240px;
    background-color: #FFEED8;
    text-align: center;
}

.icon-image2{
    border: 1px solid #fce1b8;
    width: 260px;
    height: 240px;
    background-color: #FFF9F1;
    text-align: center;
}

#inner-icon-image{
    margin-top: 30px;
}

#inner-text1{
    color: #603809;
    font-size: 25px;
    font-weight: 700;
    line-height: 38px;
    margin-top: 10px;
}

#inner-text2{
    color: #707070;
    line-height: 20px;
    font-size: 15px;
    font-weight: 400px;
}

#next-text1{
    text-align: center;
    color: #707070;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
}

#next-text2{
    text-align: center;
    color: #603809;
    font-size: 30px;
    font-weight: 700;
    line-height: 37px;
}

#next-text3{
    background-color: #F9C06A;
    border-radius: 24px;
    color: #000000;
    padding: 8px 20px;
    font-size: 16px;
}

#next-text4{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 40px;
}

.section4{
    background-image: url(./images/Group\ 36.png);
    background-size: cover;
    height: 600px;
    margin-bottom: 30px;
}

.section4 h2{
    font-size: 50px;
    font-weight: 700;
    line-height: 60px;
    color: #fff;
    margin-left: 90px;
    padding-top: 90px;
}

.section4 p{
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    line-height: 30px;
    margin-left: 90px;
    padding-top: 30px;
}

#place-order{
    background-color: #F9C06A;
    color: #000000;
    padding: 10px 20px;
    border-radius: 24px;
    font-size: 16px;
}

#coffee-bean{
    width: 35%;
    float: right;
    margin-top: -210px;
}

#cup{
    position: absolute;
    z-index: 1;
    width: 20%;
    margin-left: 920px;
    margin-top: -140px;
}

#our{
    text-align: center;
    color: #603809;
    font-size: 50px;
    font-weight: 700;
    margin-top: 70px;
}

#our1{
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 40px;
    color: #707070;
}

#coffee-blast2{
    float: right;
    margin-top: -65px;
}

.section5{
    border: 1px solid #fce1b8;
    background-color: #FFF9F1;
    margin: auto;
    width: 1000px;
    height: 550px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.section5 img{
    padding: 50px;
}

.section5 p{
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    line-height: 36px;
    color: #707070;
}

#group42{
    position: absolute;
    margin-left: -107px;
    margin-top: -150px;
}

#group43{
    position: absolute;
    margin-left: 895px;
    margin-top: -150px;
}

.section5 h4{
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    color: #603809;
    padding-top: 30px;
}

.section5 h6{
    text-align: center;
    line-height: 24px;
    font-size: 20px;
    font-weight: 400;
    color: #707070;
}

#man-image{
    margin-left: 380px;
}

#coffee-blast3{
    margin-top: -220px;
}

.section6{
    background-image: url(./images/Group\ 36\ \(1\).png);
    background-size: cover;
    height: 400px;
    margin-top: 90px;
}

.section6 h2{
    text-align: center;
    font-size: 50px;
    font-weight: 700;
    color: #fff;
    padding-top: 80px;
}

.section6 p{
    text-align: center;
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    line-height: 44px;
}

.input{
    text-align: center;
    margin-top: 20px;
}

#input{
    position: relative;
    width: 40%;
    height: 10px;
    font-size: 20px;
    border: none;
    background-color: #FFF9F1;
    color: #00000057;
    padding: 30px;
    border-radius: 3px;
}

#sub{
    position: absolute;
    margin-top: -60px;
    margin-left: 120px;
    width: 150px;
    height: 60px;
    font-size: 22px;
    font-weight: 700;
    color: #603809;
    background-color: #F9C06A;
    padding: 15px 20px;
    border-radius: 3px;
} 

#cup-coffee1{
    position: absolute;
    margin-top: -300px;
    z-index: 1;
}

#cup-coffee2{
    margin-left: 1063px;
    margin-top: -300px;
    z-index: 1;
}

.last-section{
    margin-top: -400px;
}

footer{
    display: flex;
    background-color: #603809;
    background-image: url(./images/fotter_image.png);
    background-image: (to bottom, rgb(96, 56, 9), rgb(96, 55, 9));
    background-size: cover;
    height: 508px;
    margin-top: 325px;
}

#footer-text{
    color: #fff;
    margin-top: 130px;
    margin-left: 90px;
}

#footer-text h4{
    font-family: Clicker Script;
    font-size: 60px;    
}

#footer-text p{
    margin-top: 20px;
    font-size: 16px;
    line-height: 25px;
}

#footer-icon{
    margin-top: 20px;
    font-size: 40px;
}

footer ul{
    list-style-type: none;
    color: #fff;
    margin-top: 150px; 
    margin-left: 60px;
    line-height: 40px;
}

#first-l{
    font-size: 26px;
}

#second-l{
    margin-top: 30px;
}